---
import Layout from '../layouts/Layout.astro';
import Discography from '../components/Discography.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="VEILBURNER - Discography">
  <div class="vb-logo-gradient">
    <img src="/images/logo-vb-white-no-bg.png" alt="Veilburner logo" />
  </div>
  <Discography />
  <Footer />
</Layout>

<style lang="scss">
  .vb-logo-gradient {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 175px;
    height: 175px;
    z-index: 10000;
    pointer-events: none;

    @media (max-width: 768px) {
      top: 1rem;
      left: 1rem;
      width: 80px;
      height: 80px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: radial-gradient(circle at 50% 50%, rgb(139, 0, 0, .5), rgb(90, 58, 42, .5), rgb(0, 0, 0));
      background: radial-gradient(circle at 50% 50%, rgb(25, 25, 25, .75), rgb(139, 0, 0, .5), rgb(90, 58, 42, .5));

      background-size: 200% 200%;
      animation: vb-logo-gradient 32s ease infinite;
      mask-image: url('/images/logo-vb-white-no-bg.png');
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
    }

    img {
      opacity: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @keyframes vb-logo-gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
