---
// Blood drip divider component
---

<div class="blood-drip">
  <svg viewBox="0 0 1200 60" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="M0,0 L0,20 L50,20 L52,35 L54,20 L150,20 L152,28 L154,20 L250,20 L253,40 L256,20 L350,20 L352,25 L354,20 L450,20 L453,32 L456,20 L550,20 L552,38 L554,20 L650,20 L653,30 L656,20 L750,20 L752,42 L754,20 L850,20 L852,26 L854,20 L950,20 L953,35 L956,20 L1050,20 L1052,29 L1054,20 L1150,20 L1152,33 L1154,20 L1200,20 L1200,0 Z"
          fill="currentColor"/>
  </svg>
</div>

<style lang="scss">
  .blood-drip {
    width: 100%;
    height: 60px;
    color: #8B0000;
    overflow: hidden;
    line-height: 0;
    margin: -1px 0;

    svg {
      display: block;
      width: 100%;
      height: 60px;
    }
  }
</style>
