---
// In real app, this would come from data/tour-dates.json
const tours = [
  { date: "NOV 15", venue: "The Masquerade", city: "Atlanta, GA", ticketLink: "#" },
  { date: "NOV 17", venue: "House of Blues", city: "Orlando, FL", ticketLink: "#" },
  { date: "NOV 19", venue: "Revolution Live", city: "Ft Lauderdale, FL", ticketLink: "#" },
];
---

<section class="tour-dates">
  <h2 class="tour-dates__title">TOUR DATES</h2>

  <div class="tour-dates__list">
    {tours.map((tour) => (
      <div class="tour-dates__item">
        <div class="tour-dates__date">
          <span>{tour.date}</span>
        </div>
        <div class="tour-dates__details">
          <div class="tour-dates__venue">{tour.venue}</div>
          <div class="tour-dates__city">{tour.city}</div>
        </div>
        <div class="tour-dates__ticket-link">
          <a href={tour.ticketLink} class="btn">
            TICKETS
          </a>
        </div>
      </div>
    ))}
  </div>
</section>